<div class="flex-shrink-0 py-3 bg-light mx-2 p-3 h-100 my-5" style="width:200px;">
	<a href="" class="dflex align-items-center pb-3 mb-3 link-dark text-decoration-none">
		<span class="fs-5 fw-semibold">Sous menu</span>
	</a>
	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item">
			<a class="nav-link" href="{{path('app_blog')}}">Blog</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Mon Profil
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li>
					<a class="dropdown-item" href="{{path('app_users_edit_profile')}}">Modifier le Profil</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{path('app_users_edit_pass')}}">Modifier le mot de passe</a>
				</li>
				<li><hr class="dropdown-divider"></li>
				<li>
					<a class="dropdown-item" href="{{path('app_user_publications_new')}}">Faire une publication</a>
				</li>
			</ul>

		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Mes Publications</a>
		</li>
		<li><hr class="dropdown-divider"></li>
		<li class="nav-item">
			<a class="nav-link" href="#">Mes Commentaires</a>
		</li>
	</ul>
</div>
