<div class="p-4">
	<h5 class="fst-italic">Catégories</h5>
	<ol class="list-unstyled mb-0">
		{% for category in categories %}
			<li>
				<a href="{{ path('app_categories_acceuil', {'slug': category.slug}) }}" class="text-decoration-none">{{category.nom}}</a>
			</li>

		{% endfor %}
	</ol>
</div>
