{% extends 'blog/base.html.twig' %}

{% block title %}
	{{ category.nom }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-2">
			<div class="position-sticky  mt-5 " style="width: 20rem;">
				{% include "widgets/about.html.twig" %}
				{% include "widgets/categories.html.twig" %}
			</div>
		</div>

		<div class="col-md-10">
			<div class="row">
				<h3 class="pb-4 mb-4 fst-italic border-bottom">{{ category.nom }}</h3>
				<div class="articles-list">
					{% include 'publications/liste.html.twig' with {publications: category.publications } %}
				</div>
			</div>
		</div>
	</div>
	{#<div class="navigation d-flex justify-content-center mt-4 ">
							{{ knp_pagination_render(categories) }}
						</div>#}
{% endblock %}
