{% extends 'blog/base.html.twig' %}

{% block title %}New Publications
{% endblock %}

{% block body %}
	<h1>Create new Publications</h1>

	{{ include('publications/_form.html.twig') }}

	<a href="{{ path('app_publications_index') }}">Voir la liste des publications</a>
	<a href="{{ path('app_users_profile') }}">Retour</a>
{% endblock %}
